<div style='text-align:center'>
    <h1>
        Run : level editing
    </h1>
</div>

<div>
    Nombres de cases :
    <input type='number' id='heightMap' [(ngModel)]='heightMap'>
    &nbsp;
    <input type='number' id='widthMap' [(ngModel)]='widthMap'>
</div>

<div>
    <span *ngFor='let item of [].constructor(heightMap); let h = index'>
        <span *ngFor='let item of [].constructor(widthMap); let w = index'>
            <button class='bt-case' id='{{h}}/{{w}}' (click)='selectCase(h,w)'>&nbsp;</button>
        </span>
        <br />
    </span>
</div>

<div *ngIf='caseInWork !== undefined && caseInWork !== null'>
    <h2>Données de la case :</h2>

    <mat-form-field>
        <mat-label>Type de case </mat-label>
        <mat-select [(value)]='caseInWork.type' (selectionChange)='onTypeChange()'>
            <mat-option *ngFor='let type of types' [value]='type.value'>
                {{type.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- PLAYER -->
    <div *ngIf='caseInWork.type === "player"'>
        <div>
            <mat-form-field>
                <input matInput type='number' placeholder='Champ de vision' [(ngModel)]='caseInWork.object.visionRange'>
            </mat-form-field>
        </div>
        <div>
            <span>Inventaire</span>
            <div *ngFor='let itemType of itemTypes'>
                <mat-form-field>
                    <input matInput type='number' placeholder='{{itemType.label}}'
                        [(ngModel)]='caseInWork.object.inventory[itemType.value]'>
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- ENEMY -->
    <div *ngIf='caseInWork.type === "enemy"'>
        <mat-form-field>
            <mat-label>Type de l'ennemi</mat-label>
            <mat-select [(value)]='caseInWork.object.type' (selectionChange)='onTypeChange()'>
                <mat-option *ngFor='let enemyType of enemyTypes' [value]='enemyType.value'>
                    {{enemyType.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>